extends ./main

block content
	.container.table-align-top 
		h1.title-align-center #{title}
		case msg
			when '1'
				div.alert.alert-success Cliente cadastrado com sucesso.
			when '2'
				div.alert.alert-danger Não foi possível cadastrar o cliente.
			when '3'
				div.alert.alert-success Cliente editado com sucesso.
			when '4'
				div.alert.alert-danger Não foi possível editar o cliente.
			when '5'
				div.alert.alert-success Cliente excluído com sucesso.
			when '6'
				div.alert.alert-danger Não foi possível excluir o cliente.
		table.table.table-bordered 
			thead 
				tr 
					th Nome 
					th CPF
					th E-mail 
					th Telefone Fixo 
					th Telefone Móvel 
					th CEP
					th Complemento
					th Ações 
			tbody 
				each client in clients 
					tr 
						td= client.cliente 
						td= client.cpf 
						td= client.email 
						td= client.telefonefixo 
						td= client.telefonemovel 
						td= client.address.cep 
						td= client.address.complemento
						td 
							a(href="/client/edit/" + client.id, class="btn btn-info") Editar
							form(method="POST",
								action="/client/" + client.id + "?_method=DELETE",
								style ="display:inline-block")
								button.btn.btn-danger(type="submit") Deletar