extends ./main

block content
	.container.table-align-top 
		h1.title-align-center #{title}
		table.table.table-bordered 
			thead 
				tr 
					th Nome 
					th CPF
					th E-mail 
					th Telefone Fixo 
					th Telefone Móvel 
					th Ações 
			tbody 
				each client in clients 
					tr 
						td= client.cliente 
						td= client.cpf 
						td= client.email 
						td= client.telefonefixo 
						td= client.telefonemovel 
						td 
							a(href="#", class="btn btn-info") Editar
							form(method="POST",
								action="/client")
								input(type="hidden", name="_method", value="DELETE")
								button.btn.btn-danger(type="submit") Deletar